<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style5.css">
    <link rel="stylesheet" href="../css/style2.css">
    <title>Document</title>
</head>

<body>

    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="logo.jpg" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name"></span>
                    <span class="profession">Administrador</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Proyectos</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Cerrar Sesión</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Modo oscuro</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>

    <br>

    <div class="container">
        <h1>Análisis del proyecto</h1>
    <br><br>
        <div class="header">
            <div class="header-left">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                    </svg>
                </div>
            
                <div class="info">
                    <h2>Nombre proyecto</h2>
                    <p>Fallo de Prueba</p>
                </div>
            </div>
            <div class="header-right">
                <div class="chart">
                    <div class="circle">
                        <div class="inner-circle"></div>
                    </div>
                </div>
                <div class="info">34.1% Promedio de errores</div>
            </div>
        </div>
        <div class="measures">
            <div class="measure active">
                <div class="label">New Code</div>
                <div class="value">Overall Code 1</div>
                <div class="value failed">1 failed conditions</div>
            </div>
            <div class="measure">
                <div class="label">Ver código fuente</div>
            </div>
        </div>
        <div class="details">
            <div class="section">
                <div class="title">3 Bugs</div>
                <div class="range">
                    <div class="icon"></div>
                    <div class="label">Rango</div>
                </div>
            </div>
            <div class="section">
                <div class="title">Código con advertencia</div>
                <div class="content">
                    <div class="icon"></div>
                    <div class="info">10 Code Smells</div>
                </div>
                <div class="range">
                    <div class="icon passed"></div>
                    <div class="label">Rango</div>
                </div>
            </div>
        </div>
        <div class="details">
            <div class="section">
                <div class="title">Seguridad</div>
                <div class="content">
                    <div class="icon"></div>
                    <div class="info">0 Vulnerabilidades</div>
                </div>
                <div class="range">
                    <div class="icon passed"></div>
                    <div class="label">Rango</div>
                </div>
            </div>
            <div class="section">
                <div class="title">Revisión de seguridad</div>
                <div class="content">
                    <div class="icon"></div>
                    <div class="info">1 Security Hotspots</div>
                </div>
                <div class="range">
                    <div class="icon failed"></div>
                    <div class="label">Rango</div>
                </div>
            </div>
        </div>
        <div class="duplicated">
            <div class="title">Duplicados</div>
            <div class="content">0.0% Duplicados</div>
        </div>
    </div>

    <script src="../js/script.js"></script>
</body>

</html>