<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style2.css">
    <link rel="stylesheet" href="../css/style3.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <title>Dashboard</title>
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="logo.jpg" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name"></span>
                    <span class="profession">Administrador</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Proyectos</span>
                        </a>
                    </li>
                </ul>
            </div>

            <li class="nav-link">

                <a th:href="@{/analisis/}">
                    <i class='bx bx-home-alt icon'></i>
                    <span class="text nav-text">Análisis</span>

                </a>
            </li>

            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Cerrar Sesión</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Modo oscuro</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>



    <section class="home">
        <div class="text">Proyectos</div>

        <div class="projects-container">
            <div class="project-card">
                <div class="status-icon">
                    <span class="cross">✗</span>
                </div>
                <div class="project-info">
                    <h2>Nombre proyecto</h2>
                    <p class="failure">Fallo de Prueba</p>
                    <p class="failed-condition">1 failed condition</p>
                </div>
                <div class="error-info">
                    <p>34.1% Promedio de errores</p>
                </div>
                <a th:href="@{/analisis}">
                    <button class="review-button">Revisar</button>
                </a>
            </div>

            <div class="project-card">
                <div class="status-icon">
                    <span class="cross">✗</span>
                </div>
                <div class="project-info">
                    <h2>Nombre proyecto</h2>
                    <p class="failure">Fallo de Prueba</p>
                    <p class="failed-condition">1 failed condition</p>
                </div>
                <div class="error-info">
                    <p>34.1% Promedio de errores</p>
                </div>
                <button class="review-button">Revisar</button>
            </div>

            <div class="project-card">
                <div class="status-icon">
                    <span class="cross">✗</span>
                </div>
                <div class="project-info">
                    <h2>Nombre proyecto</h2>
                    <p class="failure">Fallo de Prueba</p>
                    <p class="failed-condition">1 failed condition</p>
                </div>
                <div class="error-info">
                    <p>34.1% Promedio de errores</p>
                </div>
                <button class="review-button">Revisar</button>
            </div>

            <div class="project-card">
                <div class="status-icon">
                    <span class="cross">✗</span>
                </div>
                <div class="project-info">
                    <h2>Nombre proyecto</h2>
                    <p class="failure">Fallo de Prueba</p>
                    <p class="failed-condition">1 failed condition</p>
                </div>
                <div class="error-info">
                    <p>34.1% Promedio de errores</p>
                </div>
                <button class="review-button">Revisar</button>
            </div>

            <div class="project-card">
                <div class="status-icon">
                    <span class="cross">✗</span>
                </div>
                <div class="project-info">
                    <h2>Nombre proyecto</h2>
                    <p class="failure">Fallo de Prueba</p>
                    <p class="failed-condition">1 failed condition</p>
                </div>
                <div class="error-info">
                    <p>34.1% Promedio de errores</p>
                </div>
                <button class="review-button">Revisar</button>
            </div>

            <div class="project-card">
                <div class="status-icon">
                    <span class="cross">✗</span>
                </div>
                <div class="project-info">
                    <h2>Nombre proyecto</h2>
                    <p class="failure">Fallo de Prueba</p>
                    <p class="failed-condition">1 failed condition</p>
                </div>
                <div class="error-info">
                    <p>34.1% Promedio de errores</p>
                </div>
                <button class="review-button">Revisar</button>
            </div>

            <div class="project-card">
                <div class="status-icon">
                    <span class="cross">✗</span>
                </div>
                <div class="project-info">
                    <h2>Nombre proyecto</h2>
                    <p class="failure">Fallo de Prueba</p>
                    <p class="failed-condition">1 failed condition</p>
                </div>
                <div class="error-info">
                    <p>34.1% Promedio de errores</p>
                </div>
                <button class="review-button">Revisar</button>
            </div>

            <div class="project-card">
                <div class="status-icon">
                    <span class="cross">✗</span>
                </div>
                <div class="project-info">
                    <h2>Nombre proyecto</h2>
                    <p class="failure">Fallo de Prueba</p>
                    <p class="failed-condition">1 failed condition</p>
                </div>
                <div class="error-info">
                    <p>34.1% Promedio de errores</p>
                </div>
                <button class="review-button">Revisar</button>
            </div>

            <div class="project-card">
                <div class="status-icon">
                    <span class="cross">✗</span>
                </div>
                <div class="project-info">
                    <h2>Nombre proyecto</h2>
                    <p class="failure">Fallo de Prueba</p>
                    <p class="failed-condition">1 failed condition</p>
                </div>
                <div class="error-info">
                    <p>34.1% Promedio de errores</p>
                </div>
                <button class="review-button">Revisar</button>
            </div>

            <div class="project-card">
                <div class="status-icon">
                    <span class="cross">✗</span>
                </div>
                <div class="project-info">
                    <h2>Nombre proyecto</h2>
                    <p class="failure">Fallo de Prueba</p>
                    <p class="failed-condition">1 failed condition</p>
                </div>
                <div class="error-info">
                    <p>34.1% Promedio de errores</p>
                </div>
                <button class="review-button">Revisar</button>
            </div>

            <div class="project-card">
                <div class="status-icon">
                    <span class="cross">✗</span>
                </div>
                <div class="project-info">
                    <h2>Nombre proyecto</h2>
                    <p class="failure">Fallo de Prueba</p>
                    <p class="failed-condition">1 failed condition</p>
                </div>
                <div class="error-info">
                    <p>34.1% Promedio de errores</p>
                </div>
                <button class="review-button">Revisar</button>
            </div>

            <div class="project-card">
                <div class="status-icon">
                    <span class="cross">✗</span>
                </div>
                <div class="project-info">
                    <h2>Nombre proyecto</h2>
                    <p class="failure">Fallo de Prueba</p>
                    <p class="failed-condition">1 failed condition</p>
                </div>
                <div class="error-info">
                    <p>34.1% Promedio de errores</p>
                </div>
                <button class="review-button">Revisar</button>
            </div>
        </div>
    </section>



    <script src="../js/script.js"></script>
</body>

</html>